/* Colors
#FFFFFF
#000000
#2b2b2b
#FF4242
#ab2e2e
#0000EE

 */
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
header {
  padding: 10px 0 4px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  position: relative;
color: inherit;
  background-color: #2b2b2b;
}
h1, h2, h3, h4 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  line-height: 1.4;
background-color: inherit;
  color: #FF4242;
  font-weight: 700;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}
img {
  width: 100%;
  }
a {

  background-color: inherit;
  color: #0000EE;
  text-decoration: none;
}
a:visited {
background-color: inherit;
  color: #ab2e2e;
}
a:hover {
background-color: inherit;
  color: #ff4242;
  text-decoration: underline;
}
a:focus {
background-color: inherit;
  color: #ab2e2e;
  text-decoration: underline;
}
a:active {
background-color: inherit;
  color: #ab2e2e;
}
.hero {
  padding: 20px 0 0;
  display: inline-block;
  width: 100%;
}
.hero h3 {
  text-align: center;
}
#about h2 {
  margin-bottom: 0;
}
#work {}
#contact {}
.headshot {
  max-width: 300px;
  display: block;
  margin:0 auto;
  }
.centered-text {
  text-align: center;
}
.button {
  display: inline-block;
  background-color: #2b2b2b;
  color: #FFFFFF !important;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  transition: .2s opacity;
}
.button:visited {
color: inherit;
  background-color: #4d4d4d;
  text-decoration: none;
}
.button:hover {
  background-color: #2b2b2b;
  text-decoration: none;
  opacity: .8;
}
.button:focus {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  opacity: .8;
}
.button:active {
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  opacity: .8;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}
.col-container {
  padding: 0  15px;
 width: 100%;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  display: inline-block;
  border:0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.row {
  margin: 25px 0;
}
.row:after {
  content: " ";
  clear: both;
  display: table;
}
.row.col-md-4 {
  margin: 0 auto;
  width: 90%;
  float: none;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#contact .button {
  margin: 0 0 16px;
}
.logo {
  max-width: 50px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle.responsive nav {
  padding: 10px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 0;
  text-transform: uppercase;
  font-weight: 500;
background-color: inherit;
  color: #ff4242;
}
nav > ul > li > a:visited {
background-color: inherit;
  color: #ab2e2e;
}
nav > ul > li > a:hover {
background-color: inherit;
  color: #ff4242;
  text-decoration: underline;
}
nav > ul > li > a:focus {
background-color: inherit;
  color: #ab2e2e;
  text-decoration: underline;
}
nav > ul > li > a:active {
background-color: inherit;
  color: #ab2e2e;
}
[class*="col-"] {
  float: left;
  padding: 0px 10px;
}

/* Animation */
@keyframes color-change {
  0% {fill: blue}
  50% {fill: red;}
  100% {fill: yellow;}
}
@keyframes building-move {
  from {transform: translate(0,0);}
  to {transform: translate(2px,0);}
}
.strobe-buildings {
animation: 1s color-change infinite alternate linear;
}
.orange-buildings {
animation: 1s building-move infinite alternate linear;
}

/* Media Queries */

@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding:20px 0 13px;
  }
  nav {
    width:auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
  margin: 1em 0;
}
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
  }
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  #hero {
      text-align: center;
    }
  #hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
.col-md-4 {
  width: 33.33%;
}
.col-md-4 h3 {
  text-align: left;
}
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.col-lg-6-left {
  width: 60%;
}
.col-lg-6-left {
  width: 40%;
}}
@media only screen and (min-width: 1440px) {}
