/* Colors
#FFFFFF
#000000
#2b2b2b
#FF4242
#ab2e2e
#0000EE

 */
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
header {
  padding: 10px 0;
  text-align: center;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  position: relative;
  background-color: #2b2b2b;
}
h1, h2, h3, h4 {
  font-family: 'M PLUS Rounded 1c'; sans-serif;
  line-height: 1.4;
  color: #FF4242;
  font-weight: 700;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
}
img {
  width: 100%;
  }
a {
  color: #0000EE;
  text-decoration: none;
}
a:visited {
  color: #ab2e2e;
}
a:hover {
  color: #ff4242;
  text-decoration: underline;
}
a:focus {
  color: #ab2e2e;
  text-decoration: underline;
}
a:active {
  color: #ab2e2e;
}
#hero {
  padding: 20px 0 0;
  display: inline-block;
  width: 100%;
}
#work {}
#contact {}
.headshot {
  max-width: 300px;
  display: block;
  margin:0 auto;
  }

.button {
  display: inline-block;
  background-color: #2b2b2b;
  color: #FFFFFF !important;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  transition: .2s opacity;
}
.button:visited {
  background-color: #4d4d4d;
  text-decoration: none;
}
.button:hover {
  background-color: #000000;
  text-decoration: none;
}
.button:focus {
  background-color: #000000;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);
}
.button:active {
  background-color: #000000;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);
}

/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#contact .button {
  margin: 0 0 16px;
}
.logo {
  max-width: 50px;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff4242;
}
nav > ul > li > a:visited {
  color: #ab2e2e;
}
nav > ul > li > a:hover {
  color: #ff4242;
  text-decoration: underline;
}
nav > ul > li > a:focus {
  color: #ab2e2e;
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: #ab2e2e;
}
